<!-- <form name="form" ng-submit="boards.submit()">
  <a href="#/logout">Logout</a>
  <div class="container">
    <div class="row">
      <div class="form-group">
        <label for="title">Title</label>
        <input class="col-md-4" id="title" type="text" placeholder="Name Your New Board" required ng-model="boards.newBoard.title">
        <label for="URL">URL</label>
        <div class="col-md-1"></div>
        <a href="#/" class="btn btn-danger col-md-2">Cancel</a>
        <div class="col-md-1"></div>
        <button type="submit" class="btn btn-primary col-md-2">Submit</button>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</form>
<h1>Someone's boards</h1>

<div ng-repeat="(key, board) in boards.list" ng-click="boards.goToBoard(key)">
  <h3>{{board.title}}</h3>
  <button class="btn btn-warning col-md-d" ng-click="boards.editBoard(key); $event.stopPropagation()">Edit</button>
  <button class="btn btn-danger col-md-d" ng-click="boards.deleteBoard(key); $event.stopPropagation()">Delete</button>
</div>

 -->